<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dadpreneur.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52E529981E8270E5001B1998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E529AF1E8270E6001B1998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E529BA1E8270E6001B1998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
